h1{
  font-weight: 500;
  margin-bottom: 0;
}

.container{
  display: flex;
}

a{
  display: block;
}

.logout{
  width: 100px;
  text-align: center;
  background-color: gray;
  border-radius: 3px;
  border: none;
  color: white;
  text-decoration: none;
  margin-left: 20px;
  box-sizing: border-box;
  padding-top: 4px;
}


.sinki{
  box-sizing: border-box;
  width: 100px;
  height: 30px;
  padding-top: 8px;
  text-align: center;
  background-color: mediumblue;
  border-radius: 3px;
  border: none;
  text-decoration: none;
  color: white;
  font-size: 8px;
}

table{
  margin: 0 auto;
  width: 500px;
  height: 400px;
  text-align: center;
  border: solid 1px lightgrey;
}

td{
  border: solid 1px lightgray;
}

.title{
  background-color: lightgray;
}

.delete{
  width: 50px;
  text-align: center;
  background-color: red;
  border-radius: 3px;
  border: none;
  color: white;
  text-decoration: none;
  box-sizing: border-box;
  padding-top: 4px;
  margin: auto;
}