h1{
  font-weight: 300;
  margin: 0;
  font-size: 32px;
}

p{
  margin: 0;
  font-size: 14px;
}

input{
    width: 200px;
    height: 24px;
    margin-bottom: 5px;
    border-radius: 2px;
    border: solid 1px lightgray;
  
  }


.touroku{
  width: 100px;
  background-color: lightskyblue;
  border-radius: 3px;
  border: none;
  color: white;
}

select{
  border-radius: 2px;
  border: solid 1px lightgray;
  margin-bottom: 5px;
}